<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-1 mb-4">
      *必填欄位
    </div>
    <div class="col-2 mb-4">
      <h5 class="fw-bold">請修改你的支出</h5>
    </div>
  </div>
  <form action="/records/{{ record._id }}?_method=PUT" method="POST">
    <div class="row justify-content-center mb-3">
      <lable for="name" class="col-1 fw-bold">名稱*:</lable>
      <div class="col-2"><input type="text" id="name" name="name" class="form-control" value="{{record.name}}"></div>
    </div>

    <div class="row justify-content-center mb-3">
      <lable for="date" class="col-1 fw-bold">日期*:</lable>
      <div class="col-2"><input type="date" id="date" name="date" class="form-control" value="{{cutDate record.date}}"></div>
    </div>

    <div class="row justify-content-center mb-3">
      <lable for="categoryId" class="col-1 fw-bold">類別*:</lable>
      <div class="col-2"><select name="categoryId" id="categoryId" class="form-control">
          <option value="{{categoryMap.家居物業}}" {{#if (eq record.categoryId categoryMap.家居物業)}}selected{{/if}}>家居物業</option>
          <option value="{{categoryMap.交通出行}}" {{#if (eq record.categoryId categoryMap.交通出行)}}selected{{/if}}>交通出行</option>
          <option value="{{categoryMap.休閒娛樂}}" {{#if (eq record.categoryId categoryMap.休閒娛樂)}}selected{{/if}}>休閒娛樂</option>
          <option value="{{categoryMap.餐飲食品}}" {{#if (eq record.categoryId categoryMap.餐飲食品)}}selected{{/if}}>餐飲食品</option>
          <option value="{{categoryMap.其他}}" {{#if (eq record.categoryId categoryMap.其他)}}selected{{/if}}>其他</option>
        </select></div>
    </div>

    <div class="row justify-content-center mb-3">
      <lable for="amount" class="col-1 fw-bold">金額*:</lable>
      <div class="col-2"><input type="text" id="amount" name="amount" class="form-control" value="{{record.amount}}"></div>
    </div>

    <div class="row">
      <div class="col text-center mt-4">
        <button type="submit" class="btn btn-primary">儲存</button>
      </div>
    </div>
  </form>
</div>